@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;
  }

.verx {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-top: 0px;
  background: #000000;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
}

footer {  
    position: absolute; 
    bottom: 1%;
    width: 1660px;
    border-top: 1px solid #000000; 
    text-align: center;
    font-weight: bold;
  }

.zag {
    position: absolute; 
    left: 31%;
    color: #000000;
    font-size: 24px;
    bottom: 70%;
    font-weight: bold;
  }

  .zag2 {
    position: absolute; 
    left: 57%;
    color: #000000;
    font-size: 24px;
    bottom: 70%;
    font-weight: bold;
  }
  
.imgs {
    border: 4px solid #0C0C0C;
    position: absolute; 
    left: 30%;
    bottom: 30%;
  }

.imgs2 {
    border: 4px solid #0C0C0C;
    position: absolute; 
    left: 55%;
    bottom: 30%;
  }

.zagg {
  position: absolute; 
  left: 80px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  bottom: 78%;
}

.imgss {
  border: 4px solid #0C0C0C;
  position: absolute; 
  left: 80px;
  bottom: 20%;
}

.opiss {
  position: absolute; 
  left: 35%;
  font-weight: bold;
  bottom: 71%;
  font-size: 18px;
  color: #000000;
}

.opis22 {
  position: absolute; 
  left: 35%;
  bottom: 60%;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  line-height: 90%;
}
.Spec11 {
  position: absolute; 
  left: 35%;
  bottom: 54%;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.Spec22 {
  position: absolute; 
  left: 33%;
  bottom: 18%;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  line-height: 150%;
}

footer {  
  position: absolute; 
  bottom: 1%;
  width: 1660px;
  font-weight: bold;
  border-top: 1px solid #000000; 
  text-align: center;
}